.admin-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
  }
  .height-100vh {
    height: 100vh;
  }
  table {
    font-size: 14px;
  }
  th, td {
    vertical-align: middle;
  }